:root {
  --rainyBlue: #0a3641;
  --mainWhite: #fdf8f1;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--mainWhite);
  overflow-x: hidden;
}
/* Below is header styling*/
.navmenu {
  display: block;
  border: 1px solid;
  width: 100%;
  height: 180px;
  background-color: rgba(231, 228, 228, 0.82);
  margin-bottom: 0;
  display: inline-flex;
  text-align: center;
}
#rainyLogo {
  display: flex;
  position: relative;
  bottom: 6px;
  right: 50px;
  scale: 55%;
  margin-right: 70px;
}

.links,
.linkscart {
  display: flex;
  position: relative;
  margin-top: 70px;
  text-decoration: none;
  transition: 0.3s;
}
.links:hover {
  box-shadow: 0 5px 5px 0 black;
}
.linkscart:hover {
  text-shadow: 5px 1px 5px black;
}
.links {
  display: inline-flex;
  text-align: center;
  font-size: 1.9rem;
  color: var(--mainWhite);
  background-color: var(--rainyBlue);
  margin-right: 20px;
  margin-bottom: auto;
  padding: 8px 40px 8px 40px;
  border-radius: 6px;
}
.links:last-child {
  margin-right: 0;
}

.linkscart {
  font-size: 4.4rem;
  bottom: 19px;
  left: 5px;
  padding: 0;
}
/*Above is the desktop styling*/
/* Below is the home content*/
.head-picture-container {
  position: relative;
  display: flexbox;
  bottom: 4px;
}
#head-picture {
  max-width: 100%;
  margin-top: 0;
}
.CTA-Button {
  display: flex;
  justify-content: center;
  margin: 0;
}
#CTA-link {
  background-color: var(--rainyBlue);
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  display: flex;
  position: relative;
  padding: 20px 10px 20px 10px;
  border-radius: 8px;
}
/*card*/
.CTAcard {
  margin-top: 20px;
  display: inline-flex;
  max-width: 570px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 6px;
}
.CTAcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-container {
  padding: 2px 16px;
  letter-spacing: 1px;
}
.card-container a {
  position: relative;
  top: 20px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: var(--rainyBlue);
  color: var(--mainWhite);
  padding: 6px 5px 6px 5px;
  border-radius: 6px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.card-container a:hover {
  box-shadow: 3px 1px 4px 0 black;
}
#homeJacket {
  border-radius: 5px 5px 0 0;
}
.ecoCard {
  position: relative;
  margin-top: 20px;
  display: flex;
  max-width: 600px;
  letter-spacing: 1px;
}
.ecoCard i {
  position: relative;
  left: 250px;
  top: 300px;
  scale: 150%;
}
.main-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
/*above is the home content*/
/*Below is Product content*/
.h1-jackets {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.product-cards,
.card-last {
  display: flex;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: auto;
  margin: 15px 15px 15px 15px;
  text-align: left;
  padding: 4px 6px 2px 6px;
}
.card-last {
  display: inline-block;
  margin: 15px 15px 15px 15px;
  text-align: left;
  padding: 4px 6px 2px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 380px;
}
.price {
  color: rgb(72, 71, 71);
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}
.buy-button {
  font-size: 1.1em;
  background-color: var(--rainyBlue);
  color: var(--mainWhite);
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 15px;
  border-radius: 6px;
  box-shadow: 1px 3px 5px black;
}
/*above is product content*/
