:root {
  --rainyBlue: #0a3641;
  --mainWhite: #fdf8f1;
}
* {
  margin: 0;
  padding: 0;
}
.navmenu {
  display: block;
  border: 1px solid;
  width: 100%;
  height: 200px;
}
#rainyLogo {
  display: flex;
  position: relative;
  bottom: 6px;
  right: 50px;
  scale: 55%;
  margin-right: 70px;
}
.navmenu {
  display: inline-flex;
  text-align: center;
}

.links,
.linkscart {
  display: flex;
  position: relative;
  margin-top: 70px;
  text-decoration: none;
}
.links:hover {
  box-shadow: 0 5px 5px 0 black;
}
.linkscart:hover {
  text-shadow: 5px 1px 5px black;
}
.links {
  display: inline-flex;
  text-align: center;
  font-size: 1.9rem;
  color: var(--mainWhite);
  background-color: var(--rainyBlue);
  margin-right: 20px;
  margin-bottom: auto;
  padding: 8px 40px 8px 40px;
  border-radius: 6px;
}
.links:last-child {
  margin-right: 0;
}

.linkscart {
  font-size: 4.4rem;
  bottom: 19px;
  left: 5px;
  padding: 0;
}
/*Above is the desktop styling*/
